/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
    background: none;
    background-image: none;
}

#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}

#quote-carousel .item p i {
    padding-left: 5px;
    cursor: pointer;
}

#quote-carousel .carousel-indicators {
    bottom: 3px;
}

#quote-carousel .carousel-indicators .active {
    background-color: #333;
}

#quote-carousel .carousel-indicators li {
    border-color: #333;
}

#quote-carousel .carousel-inner {
    /* min-height: 300px; */
}

#quote-carousel .item blockquote {
    border-left: none;
    margin: 0;
}

#quote-carousel .item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
